# include <Siv3D/Windows/Resource.hpp>

//////////////////////////////////////////////////////
//
//	Siv3D Engine Resources (DO NOT REMOVE)
//
//////////////////////////////////////////////////////
DefineResource(100, ICON, icon.ico)

//
//	Shaders
//
Resource(engine/shader/d3d11/sprite.vs)
Resource(engine/shader/d3d11/shape.ps)
Resource(engine/shader/d3d11/square_dot.ps)
Resource(engine/shader/d3d11/round_dot.ps)
Resource(engine/shader/d3d11/texture.ps)
Resource(engine/shader/d3d11/bitmapfont.ps)
Resource(engine/shader/d3d11/sdffont.ps)
Resource(engine/shader/d3d11/sdffont_outline.ps)
Resource(engine/shader/d3d11/sdffont_shadow.ps)
Resource(engine/shader/d3d11/sdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdffont.ps)
Resource(engine/shader/d3d11/msdffont_outline.ps)
Resource(engine/shader/d3d11/msdffont_shadow.ps)
Resource(engine/shader/d3d11/msdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdfprint.ps)
Resource(engine/shader/d3d11/fullscreen_triangle.vs)
Resource(engine/shader/d3d11/fullscreen_triangle.ps)
Resource(engine/shader/d3d11/forward3d.vs)
Resource(engine/shader/d3d11/line3d.vs)
Resource(engine/shader/d3d11/forward3d.ps)
Resource(engine/shader/d3d11/line3d.ps)
Resource(engine/shader/d3d11/copy.ps)
Resource(engine/shader/d3d11/gaussian_blur_5.ps)
Resource(engine/shader/d3d11/gaussian_blur_9.ps)
Resource(engine/shader/d3d11/gaussian_blur_13.ps)
Resource(engine/shader/d3d11/apply_srgb_curve.ps)
Resource(engine/shader/d3d11/quad_warp.vs)
Resource(engine/shader/d3d11/quad_warp.ps)
Resource(engine/shader/d3d11/sky.ps)
Resource(engine/shader/glsl/sprite.vert)
Resource(engine/shader/glsl/shape.frag)
Resource(engine/shader/glsl/square_dot.frag)
Resource(engine/shader/glsl/round_dot.frag)
Resource(engine/shader/glsl/texture.frag)
Resource(engine/shader/glsl/bitmapfont.frag)
Resource(engine/shader/glsl/sdffont.frag)
Resource(engine/shader/glsl/sdffont_outline.frag)
Resource(engine/shader/glsl/sdffont_shadow.frag)
Resource(engine/shader/glsl/sdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdffont.frag)
Resource(engine/shader/glsl/msdffont_outline.frag)
Resource(engine/shader/glsl/msdffont_shadow.frag)
Resource(engine/shader/glsl/msdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdfprint.frag)
Resource(engine/shader/glsl/fullscreen_triangle.vert)
Resource(engine/shader/glsl/fullscreen_triangle.frag)
Resource(engine/shader/glsl/forward3d.vert)
Resource(engine/shader/glsl/line3d.vert)
Resource(engine/shader/glsl/forward3d.frag)
Resource(engine/shader/glsl/line3d.frag)
Resource(engine/shader/glsl/copy.frag)
Resource(engine/shader/glsl/gaussian_blur_5.frag)
Resource(engine/shader/glsl/gaussian_blur_9.frag)
Resource(engine/shader/glsl/gaussian_blur_13.frag)
Resource(engine/shader/glsl/apply_srgb_curve.frag)
Resource(engine/shader/glsl/quad_warp.vert)
Resource(engine/shader/glsl/quad_warp.frag)
Resource(engine/shader/glsl/sky.frag)
Resource(engine/shader/myShader/bomb_box.frag)
Resource(engine/shader/myShader/holographic_time.frag)
Resource(engine/shader/myShader/holographic_time.vert)
Resource(engine/shader/myShader/paint_spread.frag)
Resource(engine/shader/myShader/paint_spread.vert)
Resource(engine/shader/myShader/terastal_effect.frag)
Resource(engine/shader/myShader/terastal_effect.vert)

//
//	Fonts
//
Resource(ArtResources/Fonts/TetsubinGothic.otf)
Resource(engine/font/min/siv3d-min.woff)

//
//	Logo
//
Resource(ArtResources/Logo/L_siv3D.png)

//
//	BGM
//

Resource(ArtResources/BGM/Boss.mp3)
Resource(ArtResources/BGM/DeepSea1.mp3)
Resource(ArtResources/BGM/HappyOcean.mp3)

//
//Texture2D
//
//Boss
Resource(ArtResources/Texture2D/Boss/boss_Atk_0.png)
Resource(ArtResources/Texture2D/Boss/boss_Atk_1.png)
Resource(ArtResources/Texture2D/Boss/boss_Atk_2.png)
Resource(ArtResources/Texture2D/Boss/boss_Atk_3.png)
Resource(ArtResources/Texture2D/Boss/boss_Atk_4.png)
Resource(ArtResources/Texture2D/Boss/boss_Atk_5.png)
Resource(ArtResources/Texture2D/Boss/boss_Atk_6.png)
Resource(ArtResources/Texture2D/Boss/boss_Atk_7.png)

Resource(ArtResources/Texture2D/Boss/boss_cloak_0.png)
Resource(ArtResources/Texture2D/Boss/boss_cloak_1.png)
Resource(ArtResources/Texture2D/Boss/boss_cloak_2.png)
Resource(ArtResources/Texture2D/Boss/boss_cloak_3.png)
Resource(ArtResources/Texture2D/Boss/boss_cloak_4.png)
Resource(ArtResources/Texture2D/Boss/boss_cloak_5.png)

Resource(ArtResources/Texture2D/Boss/boss_confused_0.png)
Resource(ArtResources/Texture2D/Boss/boss_confused_1.png)
Resource(ArtResources/Texture2D/Boss/boss_confused_2.png)

Resource(ArtResources/Texture2D/Boss/boss_Idle_0.png)
Resource(ArtResources/Texture2D/Boss/boss_Idle_1.png)
Resource(ArtResources/Texture2D/Boss/boss_Idle_2.png)

Resource(ArtResources/Texture2D/Boss/boss_KO.png)

Resource(ArtResources/Texture2D/Menu/Exit/exit_0.png)
Resource(ArtResources/Texture2D/Menu/Exit/exit_1.png)
Resource(ArtResources/Texture2D/Menu/Exit/exit_2.png)

Resource(ArtResources/Texture2D/Menu/Score/tacoScoreOff.png)
Resource(ArtResources/Texture2D/Menu/Score/tacoScoreOn.png)

Resource(ArtResources/Texture2D/Menu/Settings/setting_0.png)
Resource(ArtResources/Texture2D/Menu/Settings/setting_1.png)
Resource(ArtResources/Texture2D/Menu/Settings/setting_2.png)

Resource(ArtResources/Texture2D/Menu/Start/start_0.png)
Resource(ArtResources/Texture2D/Menu/Start/start_1.png)
Resource(ArtResources/Texture2D/Menu/Start/start_2.png)

//
//	Stage
//
Resource(ArtResources/Texture2D/stage/stage_1-0.png)
Resource(ArtResources/Texture2D/stage/stage_1-1.png)

Resource(ArtResources/Texture2D/stage/stage_2-0.png)
Resource(ArtResources/Texture2D/stage/stage_2-1.png)

Resource(ArtResources/Texture2D/stage/stage_3-0.png)
Resource(ArtResources/Texture2D/stage/stage_3-1.png)

Resource(ArtResources/Texture2D/stage/stage_4-0.png)
Resource(ArtResources/Texture2D/stage/stage_4-1.png)

Resource(ArtResources/Texture2D/stage/stage_5-0.png)
Resource(ArtResources/Texture2D/stage/stage_5-1.png)

Resource(ArtResources/Texture2D/stage/stage_6-0.png)
Resource(ArtResources/Texture2D/stage/stage_6-1.png)

Resource(ArtResources/Texture2D/stage/stage_7-0.png)
Resource(ArtResources/Texture2D/stage/stage_7-1.png)

Resource(ArtResources/Texture2D/stage/stage_8-0.png)
Resource(ArtResources/Texture2D/stage/stage_8-1.png)

Resource(ArtResources/Texture2D/stage/stage_9-0.png)
Resource(ArtResources/Texture2D/stage/stage_9-1.png)
Resource(ArtResources/Texture2D/stage/stage_10-0.png)
Resource(ArtResources/Texture2D/stage/stage_10-1.png)


Resource(ArtResources/Texture2D/stage/Lock/locked_0.png)
Resource(ArtResources/Texture2D/stage/Lock/locked_1.png)

Resource(ArtResources/Texture2D/stage/stage_boss-0.png)
Resource(ArtResources/Texture2D/stage/stage_boss-1.png)
Resource(ArtResources/Texture2D/stage/stage_boss-2.png)
Resource(ArtResources/Texture2D/stage/stage_boss-3.png)
Resource(ArtResources/Texture2D/stage/stage_boss-4.png)
Resource(ArtResources/Texture2D/stage/stage_boss-5.png)
Resource(ArtResources/Texture2D/stage/stage_boss-6.png)
Resource(ArtResources/Texture2D/stage/stage_boss-7.png)
Resource(ArtResources/Texture2D/stage/stage_boss-8.png)
Resource(ArtResources/Texture2D/stage/stage_boss-9.png)
Resource(ArtResources/Texture2D/stage/stage_boss-10.png)
//
//	Taco
//
Resource(ArtResources/Texture2D/Taco/tacoMoveDown_0.png)
Resource(ArtResources/Texture2D/Taco/tacoMoveDown_1.png)
Resource(ArtResources/Texture2D/Taco/tacoMoveDown_2.png)
Resource(ArtResources/Texture2D/Taco/tacoMoveDown_3.png)

Resource(ArtResources/Texture2D/Taco/tacoMoveSide_0.png)
Resource(ArtResources/Texture2D/Taco/tacoMoveSide_1.png)
Resource(ArtResources/Texture2D/Taco/tacoMoveUp_0.png)
Resource(ArtResources/Texture2D/Taco/tacoMoveUp_1.png)

Resource(ArtResources/Texture2D/Taco/Color/tacoPaint_0.png)
Resource(ArtResources/Texture2D/Taco/Color/tacoPaint_1.png)
Resource(ArtResources/Texture2D/Taco/Color/tacoPaint_2.png)
Resource(ArtResources/Texture2D/Taco/Color/tacoPaint_3.png)
Resource(ArtResources/Texture2D/Taco/Color/tacoPaint_4.png)

Resource(ArtResources/Texture2D/Taco/Color/Misc/4frame_1.png)
Resource(ArtResources/Texture2D/Taco/Color/Misc/4frame_2.png)
Resource(ArtResources/Texture2D/Taco/Color/Misc/4frame_3.png)
Resource(ArtResources/Texture2D/Taco/Color/Misc/4frame_4.png)

//
//  BG
//
Resource(ArtResources/Texture2D/BG_K.png)
Resource(ArtResources/Texture2D/box.png)

//mainmenu
Resource(ArtResources/Texture2D/MainMenu/bl_0.png)
Resource(ArtResources/Texture2D/MainMenu/bl_1.png)
Resource(ArtResources/Texture2D/MainMenu/br_0.png)
Resource(ArtResources/Texture2D/MainMenu/br_1.png)
Resource(ArtResources/Texture2D/MainMenu/tl_0.png)
Resource(ArtResources/Texture2D/MainMenu/tl_1.png)
Resource(ArtResources/Texture2D/MainMenu/tr_0.png)
Resource(ArtResources/Texture2D/MainMenu/tr_1.png)

// op
Resource(ArtResources/Texture2D/Story/op_0.png)
Resource(ArtResources/Texture2D/Story/op_1.png)
Resource(ArtResources/Texture2D/Story/op_2.png)
Resource(ArtResources/Texture2D/Story/op_3.png)
Resource(ArtResources/Texture2D/Story/op_4.png)
Resource(ArtResources/Texture2D/Story/op_5.png)
Resource(ArtResources/Texture2D/Story/op_6.png)

//bossIntro
Resource(ArtResources/Texture2D/Story/bossIntro_0.png)
Resource(ArtResources/Texture2D/Story/bossIntro_1.png)

//ed
Resource(ArtResources/Texture2D/Story/ed_0.png)
Resource(ArtResources/Texture2D/Story/ed_1.png)
Resource(ArtResources/Texture2D/Story/ed_2.png)

//ffwd
Resource(ArtResources/Texture2D/FFWD/ffwd_0.png)
Resource(ArtResources/Texture2D/FFWD/ffwd_1.png)



//
//	SFX
//
Resource(ArtResources/SFX/bump.wav)
Resource(ArtResources/SFX/bomb.wav)
Resource(ArtResources/SFX/C6.wav)
Resource(ArtResources/SFX/E5.wav)
Resource(ArtResources/SFX/G5.wav)
Resource(ArtResources/SFX/StageClear.wav)

//
//	Box-shadow Textures
//
Resource(engine/texture/box-shadow/256.png)
Resource(engine/texture/box-shadow/128.png)
Resource(engine/texture/box-shadow/64.png)
Resource(engine/texture/box-shadow/32.png)
Resource(engine/texture/box-shadow/16.png)
Resource(engine/texture/box-shadow/8.png)

//////////////////////////////////////////////////////
//
//	Siv3D Engine Optional Resources (Can be removed if not required)
//
//////////////////////////////////////////////////////

//
//	Fonts
//
Resource(engine/font/mplus/mplus-1p-thin.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-light.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-regular.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-medium.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-bold.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-heavy.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-black.ttf.zstdcmp)
Resource(engine/font/noto-cjk/NotoSansCJK-Regular.ttc.zstdcmp)
//Resource(engine/font/noto-cjk/NotoSansJP-Regular.otf.zstdcmp)

//
//	Emoji Fonts
//
Resource(engine/font/noto-emoji/NotoColorEmoji.ttf.zstdcmp)
Resource(engine/font/noto-emoji/NotoEmoji-Regular.ttf.zstdcmp)

//
//	Icons
//
Resource(engine/font/fontawesome/fontawesome-brands.otf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-solid.otf.zstdcmp)
Resource(engine/font/materialdesignicons/materialdesignicons-webfont.ttf.zstdcmp)

//
//	Sound Font
//
Resource(engine/soundfont/GMGSx.sf2.zstdcmp)

//////////////////////////////////////////////////////
//
//	Siv3D App Resources (Your application resources here)
//
//////////////////////////////////////////////////////



/* examples 

	//
	// Define your resource path inside `Resource()` macro.
	// No double quotation marks and white spaces may appear.
	//
	Resource(example/siv3d-kun.png)		// ok
	Resource(example/windmill.png)		// ok
	Resource(assets/a b c.txt)			// error: contains white spaces
	Resource("example/windmill.png")	// error: contains double quotation marks

	//
	// If your file contains a white space, define the identifier without using Resource() macro.
	//
	MYIDENTIFIER_1 FILE "assets/a b c.txt"
	MYIDENTIFIER_2 FILE "level 1/map.dat"
*/
